
.parent-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 20px;
}
.bottom-bar{
    background-color: black;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 12px 50px;
    max-width: max-content;
}
button{
    display: flex;
    border-radius: 50%;
    background-color: white;
    padding: 5px;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: none;
}
button:active{
    transform: translateY(1px);
    background-color: rgb(227, 227, 227);
}
svg{
    width: 30px;
    height: 30px;
}
.end-call{
    background-color: #FF4747;
}
.end-call:active{
    transform: translateY(1px);
    background-color:#d23a3a;
}
.chat-btn{
    border: none;
    border-radius: 50%;
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
}
.chat-btn:hover{
    width: 75px;
    height: 75px;
    transition: ease-in-out 0.5s;
}
.chat-btn svg{
    width: 40px;
    height: 40px;
}